.banner, .top-spacer {
	display: none;
}

.parallax-container {
	background: url("../img/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	position: fixed;
	height: 100vh;
	width: 100%;
	-webkit-filter: blur(2px);
	filter: blur(2px);
}