html{
     height:100%;
     min-height:100%;
     }
body{
     min-height:100%;
     }

body {
	padding: 0;
}

.top-spacer {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	min-height: 26em;
	width: 100%;
}

.top-spacer {
	height: 100vh;
}

.banner {
	background: transparent url("../img/bg2.jpg") no-repeat center center;
	width: 100vw;
	height: 500px;
	position: absolute;
	background-size: cover;
	webkit-background-size: cover;
	/*-webkit-filter: blur(1px);
	filter: blur(1px);*/
    -moz-background-size: cover;
    -o-background-size: cover;
}

.parallax-container {
	display: none;
}

.right {
	display: none;
}

.table-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 30em;
}

.content, .content-container {
	padding-bottom: 1em;
}

.content-container {
	padding-top: 8em;
}

.content {
	padding-top: 3em;
}


.soc li a i {
    padding-top: 10px;
    margin-left: -1px;
}
