@import url(http://www.markmurray.co/codepen/entypostyle.css);
.social-row {
    display: table;
    margin: 0 auto;
}
.social-row i {
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  background: transparent;
}

.social {
  color: white;
  padding: 10px;
  border-radius: 25%;
  background: transparent;
}
.social:hover {
  border-radius: 50%;
}
.icon-facebook{
  color: #3b5998;
  border: 2px solid #3b5998;
}
.icon-facebook:hover {
  color: white;
  background: #3b5998;
}
.icon-twitter {
  color: #00a0d1;
  border: 2px solid #00a0d1;
}
.icon-twitter:hover {
  color: white;
  background: #00a0d1;
}
.icon-googleplus {
  color: #db4a39;
  border: 2px solid #db4a39;
}
.icon-googleplus:hover {
  color: white;
  background: #db4a39;
}
.icon-github {
  color: #666;
  border: 2px solid #666;
}
.icon-github:hover {
  color: white;
  background: #666;
}
.icon-linkedin {
  color: #0976b4;
  border: 2px solid #0976b4;
}
.icon-linkedin:hover {
  color: white;
  background: #0976b4;
}