* {
	font-family: 'Merriweather', serif;
}

body {
	background-color: #EEE;
}

.right {
	padding-left: 2em;
}

br {
	margin-bottom: 1em;
}

a, a:visited, a:hover  {
	color: #000;
}

.container {
	position: relative;
	padding: 0;
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	max-width: 100%;
	min-height: 17em;
	height: auto;
}

.table-container {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

.content-container {
	margin-left: auto;
	margin-right: auto;
	top: 12em;
	left: 1em;
	padding-left: 1em;
	padding-bottom: 3em;
	z-index: 1;
	position: absolute;
}

.content {
	width: 100% !important;
	margin-bottom: 10em;
	background-color: #FBFBFA;
	padding: 5em 1em 2em 1em;
	-webkit-box-shadow: 0px 0px 7px -1px rgba(156,156,156,1);
	-moz-box-shadow: 0px 0px 7px -1px rgba(156,156,156,1);
	box-shadow: 0px 0px 7px -1px rgba(156,156,156,1);
}

.name {
	font-size: x-large;
	font-weight: 700;
}

.bio {
	font-size: small;
}

.entry {
	font-size: large;
	font-weight: 700;
	text-decoration: underline;
	margin-bottom: 0.75em;
}

.entry-header {
	font-weight: 300;
	margin-bottom: 0.75em;
}

.connect {
	font-size: small;
	color: #AAA;
	margin-top: 3em;
	margin-bottom: 0.5em;
}

.social-container i {
}

.entry-title {
	font-size: x-large;
	font-weight: 700;
	text-decoration: underline;
	margin-bottom: 0;
}

.entry-meta {
	font-size: small;
	color: #C0C0C0;
}

